
DeepLearning/data/CIFAR10/cifar-10-batches-py/data_batch_1
DeepLearning/data/CIFAR10/cifar-10-batches-py/batches.meta
DeepLearning/data/CIFAR10/cifar-10-batches-py/data_batch_2
DeepLearning/data/CIFAR10/cifar-10-batches-py/data_batch_3
DeepLearning/data/CIFAR10/cifar-10-batches-py/data_batch_4
DeepLearning/data/CIFAR10/cifar-10-batches-py/data_batch_5
DeepLearning/data/CIFAR10/cifar-10-batches-py/readme.html
DeepLearning/data/CIFAR10/cifar-10-batches-py/test_batch
DeepLearning/data/CIFAR10/cifar-10-python.tar.gz
data/
*.pth
*.jpg
